@import './responsive_config';
@import './_variables.module.scss';

%title-base {
  font: normal 700 20px/20px $fontFamily;
  color: $textBold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  background-color: $colorGray;

  p {
    @extend %title-base;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $colorGrey;
  }
}
