$fontFamily: "Noto Sans JP";
$colorPrimary: #9a55ff;
$colorPrimaryLight: #da8cff;
$colorWhite: #ffffff;
$colorGrey: #667085;
$textBold: #101828;
$colorText: #344054;
$colorCheck: #039855;
$colorSubTitleGreen: #027a48;
$colorSubTitleRed: #b42318;
$colorBorder: #ecedf2;
$colorBlue: #175cd3;
$colorBorderWhite: #eff8ff;
$colorBorderYellow: #f2f4f7;
$borderPaginate: #d0d5dd;
$colorAlert: #d92d20;
$colorHr: #f2f4f7;
$colorGray: #f9fafb;
$colorBorder: #eaecf0;
$colorCloseEditText: #f04438;
$textBlack: #202124;
$textBrow: #696969;
$textBrowDarker: #404046;
$textLink: #1967d2;
$headingColor: #1a3454;
$colorGrayLighter: #f5f7fc;
$inputColor: #f0f5f7;
$iconMark:#c0c0c0;
$colorGrayDraft: #c4c4c4;
$backgroundOutdate: #BFA689;
$backgroundGreen: #34a853;
$backgroundYellow: #f9ab00;
$backgroundRed: #d93025;
$btnOutLineInfo: #0dcaf0;
$colorDisable: #e9ecef;
$btnHover: #1548a1;
$colorBlack: #000000;
$colorPink: #da8cff;
$colorPurple: #9a55ff;
$colorGrey: #F3F1F1;
$btnCancel: #6c757d;
$btnDelete: #EB5757;
$textContact:#f2f2f4;
$colorSecondary:#5A6268;
$textBtnCancel: #a8a9ae;
$textBoxInvoice: #bcc3d3;
$textDateInvoice: #455a64;
$textValueInvoice: #5b676d;
$textPayment: #f7f7f7;
$textTitlePayment:#efeeee;
$maxWidthDefault: 1200px;
$textValidatorFail: #d32f2f;
$textValidatorFailFont: "Roboto", "Helvetica", "Arial", sans-serif;
$backgroundNotification: rgb(244, 67, 67);
$backgroundNotificationList: #f2f2f2;
$textLinkObject: #4d8ee9;
